

body {
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    /* background-color: black;
    height: 150px;
    margin: 0; */
}

.col, .col-2, .col-3 {
    background-color: darkturquoise;
    padding: 15px;
    margin: 12px;
    color: rgb(73, 73, 73);
    height: 70px;
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}